@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-dir-c {
  flex-direction: column;
}

.flex-dir-r {
  flex-direction: row;
}

.flex-just-sp-b {
  justify-content: space-between;
}

.flex-align-c {
  align-items: center;
}

.emoji {
  width: 16.8px;
  height: 16.8px;
  margin: 0;
}
